DJANGO_ENV=dev
SECRET_KEY=change-me-in-prod

DB_NAME=pulsewatch
DB_USER=pulsewatch
DB_PASSWORD=pulsewatch
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

# prod only
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
